body 
{
  color: green;
  padding:20px;
  margin: 0 auto;
}

table
{
  border-collapse: collapse;
  margin: 20px 0;
}

td 
{
  test -align: center;
  width:24px; 
  height: 24px;
  padding:12px;
  border:1px solid grey;
}

highlight {
  background-color: grey;
  box-shadow: 0;
}


